Buyer Search Specs - Linear Flow.json
{
  "name": "Buyer Search Specs - Linear Flow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1408,
        -192
      ],
      "id": "9c602266-8155-485b-9177-1d183f7e3d0f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=https://get-presigned-url-for-mcat-w2yrp7i6za-el.a.run.app/?mcat_id={{ $json[\"mcat_id\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -752,
        -176
      ],
      "id": "ba50995d-7824-433f-bb02-2afcdc220a4b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.finalized_spec_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -368,
        -176
      ],
      "id": "c466e4f7-6cf1-49de-aa6a-a241b9a6afb3",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a **Senior Product Taxonomy and Specification Mapping Expert** for a large **Indian B2B marketplace**.\n\nYou will receive two inputs for the **same category**:\n\n* **Category:** `{{ $json.category }}`\n* **Platform specs (currently supported on the platform):**\n  `{{ JSON.stringify($json.seller_specs, null, 2) }}`\n* **Buyer search specs (derived from buyer behaviour with top options):**\n  `{{ JSON.stringify($json.buyer_specs, null, 2) }}`\n\n---\n\n# Objective\n\nIdentify which **buyer search specs are MISSING from the platform specs** and which are **NOT MISSING**.\n\nBefore comparison, you **must first detect duplicates / near-duplicates / semantic overlaps within BUYER_SEARCH_SPECS and merge them internally.**\n\n⚠️ **Important:**\n\n* This internal deduplication must be done **silently**.\n* **Do NOT return the deduplicated buyer-search list in the output.**\n\n---\n\n# STEP 1: INTERNAL DEDUPLICATION OF BUYER SEARCH SPECS\n\nInspect **BUYER_SEARCH_SPECS** for **duplicate or overlapping specs**.\n\nMerge two buyer-search specs if they represent the **same underlying buyer intent**, even if the wording differs.\n\n### Examples of Possible Duplicates\n\n* Brand vs Make\n* Color vs Colour\n* Power vs Wattage\n* Blade Count vs Number of Blades\n* Capacity vs Storage Capacity *(only if same commercial intent in context)*\n* Material vs Body Material *(only if no meaningful distinction exists)*\n\n---\n\n### Do NOT Merge if Buyer Intent is Different\n\nExamples that are usually **NOT duplicates**:\n\n* Power Consumption vs Output Power\n* Weight vs Load Capacity\n* Voltage vs Phase\n* Capacity vs Flow Rate\n* Material vs Coating\n* Warranty vs Certification\n\n---\n\n### Deduplication Rules\n\nWhile deduplicating internally:\n\n* Choose **one canonical buyer-search spec name**\n* **Merge options** across duplicate specs\n* **Preserve meaningful options**\n* **Remove redundant duplicate buyer-search specs**\n* Use a **marketplace-friendly canonical name**\n* **Do NOT invent new options**\n\n---\n\n# STEP 2: CATEGORY RELEVANCE CHECK\n\nBefore comparing with platform specs, determine whether the **buyer-search spec is relevant to the category**.\n\nA spec is **irrelevant** if it clearly belongs to a **different product type, accessory type, or product structure that does not logically apply to the category.**\n\n### Examples\n\n| Category            | Buyer Search Spec                        | Result     |\n| ------------------- | ---------------------------------------- | ---------- |\n| Royal Enfield Bikes | Spare Part                               | Irrelevant |\n| Vivo Mobile Phones  | Product Part Type (display, motherboard) | Irrelevant |\n| Office Chair        | Engine Type                              | Irrelevant |\n\n### Rule\n\nIf a buyer-search spec is **irrelevant to the category**:\n\n* It **must NOT be marked as missing**\n* Place it in **not_missing_specs**\n* Set `covered_by_platform_spec` as `\"N/A\"`\n* Provide reason: `\"Spec is not relevant to the category\"`\n\n---\n\n# STEP 3: COMPARE AGAINST PLATFORM SPECS\n\nCompare the **internally deduplicated buyer-search specs** against **PLATFORM_SPECS**.\n\nA buyer-search spec is **NOT MISSING** if the platform already covers the **same buyer intent** through:\n\n* Exact match\n* Synonym match\n* Close semantic match\n* Different wording but **same commercial intent**\n\n---\n\n### Examples\n\n| Platform Spec     | Buyer Search Spec | Result              |\n| ----------------- | ----------------- | ------------------- |\n| Brand             | Make              | NOT MISSING         |\n| Wattage           | Power             | Usually NOT MISSING |\n| Installation Type | Mounting Type     | Likely NOT MISSING  |\n\n---\n\nA buyer-search spec is **MISSING** only if:\n\n* The **buyer intent is not covered by any platform spec**\n* The spec is **relevant to the category**\n* It is **meaningful for product discovery, filtering, or buyer requirement capture**\n\nUse **category context heavily**.\nDo **not rely only on literal string matching**.\n\n---\n\n# DECISION RULES\n\n1. Deduplicate buyer-search specs **internally before comparing**.\n2. Perform **category relevance check** before deciding missing specs.\n3. Prefer **semantic understanding** over exact text match.\n4. **Do not mark a spec as missing** if the platform already covers the same intent.\n5. **Do not mark irrelevant specs as missing**.\n6. **Be conservative**; avoid false positives.\n7. **Do not modify platform specs.**\n8. **Do not invent options.**\n9. Keep **noisy, weak, or overly niche specs out of missing list** unless clearly useful.\n10. Every buyer-search spec after internal deduplication must end up in either:\n\n* `missing_specs`\n* `not_missing_specs`\n\n---\n\n# Category-Implied Spec Rule\n\nA spec is **category-implied** if the **category name already defines that attribute.**\n\n### Examples\n\n| Category       | Reject Spec   |\n| -------------- | ------------- |\n| Solar Inverter | Inverter Type |\n| Electric Motor | Motor Type    |\n| LED Bulb       | Bulb Type     |\n| Ceiling Fan    | Fan Type      |\n\nThese specs **do not add meaningful filtering value**.\n\nSuch specs must **NOT appear in `missing_specs`**.\n\nInstead, they must appear in **`not_missing_specs`** with a reason explaining that the **attribute is already defined by the category itself**.\n\n---\n\n# OUTPUT FORMAT\n\nReturn **ONLY valid JSON** using this exact schema:\n\n```\n{\n  \"category_name\": \"<category_name>\",\n  \"missing_specs\": [\n    {\n      \"spec_name\": \"<canonical buyer-search spec name>\",\n      \"options\": [\"<merged relevant options>\"],\n      \"missing_reason\": \"<why this spec is not covered by platform specs>\",\n      \"buyer_search_sources\": [\"<raw buyer-search spec names merged into this result>\"]\n    }\n  ],\n  \"not_missing_specs\": [\n    {\n      \"spec_name\": \"<canonical buyer-search spec name>\",\n      \"options\": [\"<merged relevant options>\"],\n      \"covered_by_platform_spec\": \"<platform spec name that already covers it OR 'N/A'>\",\n      \"reason\": \"<why this buyer-search spec is already covered OR irrelevant OR category-implied>\",\n      \"buyer_search_sources\": [\"<raw buyer-search spec names merged into this result>\"]\n    }\n  ]\n}\n```\n\n---\n\n# Edge Case\n\nIf **no missing specs exist**, return:\n\n```\n{\n  \"category_name\": \"<category_name>\",\n  \"missing_specs\": [],\n  \"not_missing_specs\": [...]\n}\n```\n\n---\n\n# Final Output Rules\n\n* Return **JSON only**\n* **No markdown**\n* **No explanations outside JSON**\n\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1008,
        -176
      ],
      "id": "c743e8ad-8142-40af-9a71-81baac69517a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "google/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "google/gemini-2.5-flash"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1008,
        48
      ],
      "id": "8ef07ca8-ae34-4d27-9f3d-7c0235328e44",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "P8VvjUcvMIqL5P78",
          "name": "OpenAi account 432"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1m5NPxapnApGq-ajkogHiqRS0hKdmZlmZHsa6WO87phg",
          "mode": "list",
          "cachedResultName": "Buyer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m5NPxapnApGq-ajkogHiqRS0hKdmZlmZHsa6WO87phg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1844859184,
          "mode": "list",
          "cachedResultName": "MCAT List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m5NPxapnApGq-ajkogHiqRS0hKdmZlmZHsa6WO87phg/edit#gid=1844859184"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1216,
        -192
      ],
      "id": "cd3bbdfa-6690-4437-bd8c-1227c0e6e7f1",
      "name": "MCAT List",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i0XkTykrNwOo2GqR",
          "name": "Google Sheets account 337"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// get mcat_id from Seller Specs node\nconst mcat_id = $node[\"Seller Specs\"].json.mcat_id || \"\";\n\n// get AI response text\nlet aiText = items[0].json.output || items[0].json.text || \"\";\n\n// remove markdown if present\naiText = aiText.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n\n// parse JSON\nconst response = JSON.parse(aiText);\n\nconst rows = [];\n\n// MISSING SPECS\n(response.missing_specs || []).forEach(spec => {\n\n  rows.push({\n    json: {\n      mcat_id: mcat_id,\n      category: response.category_name || \"\",\n      spec_name: spec.spec_name || \"\",\n      options: (spec.options || []).join(\", \"),\n      status: \"missing\",\n      reason: spec.missing_reason || \"\",\n      covered_by: \"\"\n    }\n  });\n\n});\n\n// NOT MISSING SPECS\n// NOT MISSING SPECS\n(response.not_missing_specs || []).forEach(spec => {\n\n  rows.push({\n    json: {\n      mcat_id: mcat_id,\n      category: response.category_name || \"\",\n      spec_name: spec.spec_name || \"\",\n      options: (spec.options || []).join(\", \"),\n      status: \"not_missing\",\n      reason: spec.reason || \"\",\n      covered_by: spec.covered_by_platform_spec || \"\"\n    }\n  });\n\n});\n\n// ⭐ IMPORTANT: if no rows, send a dummy item so next nodes run\nif (rows.length === 0) {\n  rows.push({\n    json: {\n      mcat_id: mcat_id,\n      category: response.category_name || \"\",\n      spec_name: \"\",\n      options: \"\",\n      status: \"no_missing_specs\",\n      reason: \"\",\n      covered_by: \"\"\n    }\n  });\n}\n\nreturn rows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        -176
      ],
      "id": "d6e52c2c-b4e8-4363-a8b5-a8c0c81541b4",
      "name": "Missing Specs",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1m5NPxapnApGq-ajkogHiqRS0hKdmZlmZHsa6WO87phg",
          "mode": "list",
          "cachedResultName": "Buyer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m5NPxapnApGq-ajkogHiqRS0hKdmZlmZHsa6WO87phg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1400153853,
          "mode": "list",
          "cachedResultName": "Output - 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m5NPxapnApGq-ajkogHiqRS0hKdmZlmZHsa6WO87phg/edit#gid=1400153853"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "MCAT ID": "={{ $json.mcat_id }}",
            "MCAT Name": "={{ $json.category }}",
            "spec_name": "={{ $json.spec_name }}",
            "options": "={{ $json.options }}",
            "status": "={{ $json.status }}",
            "covered_by": "={{ $json.covered_by }}",
            "reason": "={{ $json.reason }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "MCAT ID",
              "displayName": "MCAT ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MCAT Name",
              "displayName": "MCAT Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "spec_name",
              "displayName": "spec_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "options",
              "displayName": "options",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "covered_by",
              "displayName": "covered_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1456,
        32
      ],
      "id": "11922c58-4e65-4849-aa3e-f6999a17a5bf",
      "name": "Output",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i0XkTykrNwOo2GqR",
          "name": "Google Sheets account 337"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Run Once for All Items\n\nreturn items.map((item) => {\n  const data = item.json || {};\n\n  const mcat_id =\n    data.mcat_id ??\n    data.mcatId ??\n    null;\n\n  // try direct known locations first\n  let url =\n    data?.finalized_specs?.file_info?.url ??\n    data?.finalized_specs?.file_info?.file_path ?? // if you want to fallback to gs:// too\n    data?.url ??\n    null;\n\n  // ultimate fallback: search entire object for any https://storage.googleapis.com/... occurrence\n  if (!url) {\n    const jsonStr = JSON.stringify(data);\n    const m = jsonStr.match(/https:\\/\\/storage\\.googleapis\\.com\\/[^\\s\"']+/);\n    if (m) url = m[0];\n  }\n\n  return {\n    json: {\n      mcat_id,\n      finalized_spec_url: url || null,\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -176
      ],
      "id": "47303b2b-23e7-4a3e-8406-d7941ce53d4a",
      "name": "Seller Specs"
    },
    {
      "parameters": {
        "jsCode": "const specs = [];\n\nconst fs = items[0].json.finalized_specs;\n\nfs.finalized_primary_specs.specs.forEach(s => {\n  if (s.options) {\n    specs.push({ spec_name: s.spec_name, spec_options: s.options.slice(0, 6) });\n  }\n});\n\nfs.finalized_secondary_specs.specs.forEach(s => {\n  if (s.options) {\n    specs.push({ spec_name: s.spec_name, spec_options: s.options.slice(0, 6) });\n  }\n});\n\nfs.finalized_tertiary_specs.specs.forEach(s => {\n  if (s.options) {\n    specs.push({ spec_name: s.spec_name, spec_options: s.options.slice(0, 6) });\n  }\n});\n\nreturn [{\n  json: {\n    category: items[0].json.category_name,\n    platform_specs: specs\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -176
      ],
      "id": "4de0c848-7514-441c-a1ed-7cdbfacffd91",
      "name": "Final Seller Specs",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -992,
        -192
      ],
      "id": "78d41326-56d2-492f-a8ad-71da34bd1dbc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1m5NPxapnApGq-ajkogHiqRS0hKdmZlmZHsa6WO87phg",
          "mode": "list",
          "cachedResultName": "Buyer Search Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m5NPxapnApGq-ajkogHiqRS0hKdmZlmZHsa6WO87phg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1844859184,
          "mode": "list",
          "cachedResultName": "MCAT List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m5NPxapnApGq-ajkogHiqRS0hKdmZlmZHsa6WO87phg/edit#gid=1844859184"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "mcat_id": "={{ $json.mcat_id }}",
            "status": "Done"
          },
          "matchingColumns": [
            "mcat_id"
          ],
          "schema": [
            {
              "id": "mcat_id",
              "displayName": "mcat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mcat_name",
              "displayName": "mcat_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        -288
      ],
      "id": "14dfcc07-8b5e-4913-9305-d7da9b741023",
      "name": "Status Update",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i0XkTykrNwOo2GqR",
          "name": "Google Sheets account 337"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const seller = $node[\"Final Seller Specs\"].json.platform_specs;\nconst buyer = $node[\"Filtering\"].json.buyer_specs;\n\nreturn [{\n  json: {\n    category: $node[\"Final Seller Specs\"].json.category,\n    seller_specs: seller,\n    buyer_specs: buyer\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -176
      ],
      "id": "dba6def3-3ee9-4a1c-8643-29a0bcce09eb",
      "name": "Combined Specs"
    },
    {
      "parameters": {
        "jsCode": "// get current MCAT from loop node\nconst currentMcat = String($node[\"Loop Over Items\"].json.mcat_name || \"\")\n  .toLowerCase()\n  .trim();\n\n// filter rows belonging to this MCAT\nconst filtered = items.filter(i => {\n  const buyerMcat = String(i.json[\"mcat_name\"] || \"\").toLowerCase().trim();\n  return buyerMcat === currentMcat;\n});\n\nconst grouped = {};\n\nfor (const item of filtered) {\n\n  const spec = String(item.json[\"Spec Name\"] || \"\").toLowerCase().trim();\n  const option = String(item.json[\"Spec Option\"] || \"\").trim();\n  const impressions = Number(item.json[\"Impression\"] || 0);\n\n  if (!spec || !option) continue;\n\n  if (!grouped[spec]) {\n    grouped[spec] = {\n      total_impressions: 0,\n      options: []\n    };\n  }\n\n  grouped[spec].total_impressions += impressions;\n\n  grouped[spec].options.push({\n    option,\n    impressions\n  });\n}\n\nconst specs = [];\n\nfor (const spec in grouped) {\n\n  // apply condition only on total impressions\n  if (grouped[spec].total_impressions < 50) continue;\n\n  const topOptions = grouped[spec].options\n    .sort((a,b)=>b.impressions-a.impressions)\n    .slice(0,10)\n    .map(o => o.option);\n\n  specs.push({\n    spec_name: spec,\n    total_impressions: grouped[spec].total_impressions,\n    spec_options: topOptions\n  });\n}\n\n// select top 10 specs by impressions\nconst topSpecs = specs\n  .sort((a,b)=>b.total_impressions-a.total_impressions)\n  .slice(0,10);\n\nreturn [{\n  json:{\n    category: $node[\"Loop Over Items\"].json.mcat_name,\n    buyer_specs: topSpecs\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -176
      ],
      "id": "07179e2d-6b83-4605-a919-9a1ed0b16984",
      "name": "Filtering"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1m5NPxapnApGq-ajkogHiqRS0hKdmZlmZHsa6WO87phg",
          "mode": "list",
          "cachedResultName": "Buyer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m5NPxapnApGq-ajkogHiqRS0hKdmZlmZHsa6WO87phg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1594557232,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m5NPxapnApGq-ajkogHiqRS0hKdmZlmZHsa6WO87phg/edit#gid=1594557232"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        -176
      ],
      "id": "90a5e827-e15e-4628-99f6-a3a8eb5f9887",
      "name": "Buyer Search Specs Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i0XkTykrNwOo2GqR",
          "name": "Google Sheets account 337"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        832,
        -176
      ],
      "id": "4a0800f9-bc87-448e-af05-c42f8e444eb9",
      "name": "Wait",
      "webhookId": "af53a7da-3db7-4bf8-b6d5-005feffbf649"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        48,
        -176
      ],
      "id": "84dcd58e-73f1-45bf-b599-7f46e657a72b",
      "name": "Wait1",
      "webhookId": "e631b84f-e10c-4064-821f-37df148fbdfb"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "MCAT List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Seller Specs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Final Seller Specs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Missing Specs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCAT List": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Missing Specs": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          },
          {
            "node": "Status Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seller Specs": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Seller Specs": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combined Specs": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtering": {
      "main": [
        [
          {
            "node": "Combined Specs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buyer Search Specs Data": {
      "main": [
        [
          {
            "node": "Filtering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Buyer Search Specs Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "800355ea-bf2f-4114-8568-8f9a40c42ea2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17519d3ef9735db55aeaaca554134cc04945a8942840756f95f4251d52adf708"
  },
  "id": "dYslc3Z634OcNcJ3",
  "tags": []
}